.GenomicMarkerContentContainer {
    top:0px;
    width: 640px;
    overflow:  auto;
    padding-left: 20px;
    padding-right: 20px;
}


.GenomicMarkerContentContainer__title {
    margin-top: 15px;
    margin-bottom: 4px;
}
.GenomicMarkerContentContainer__Wrapper {

}

.GenomicMarkerContentContainer__Button{
    width: 140px;
}
