.MarkerPicker {
    top:0px;
    width: 640px;
    height: 100%;
    overflow:  auto;
    padding-left: 20px;
    padding-right: 20px;
}


.MarkerPicker__title {
    margin-top: 15px;
    margin-bottom: 4px;
}
.MarkerPicker__Wrapper {
    width: 100%;
    height: 100%;

}

.MarkerPicker__Filter {
    height: 120px;
    width: 250px;
    padding-top: 20px;
    padding-left: 20px;
}
