.GenomicMarkerSNVEditor {
    top:0px;
    /*height: 100vh;*/
    /*max-height: 100%;*/
    width: 620px;
    overflow: hidden auto;
    padding-left: 20px;
    padding-right: 20px;
}


.GenomicMarkerSNVEditor__title {
    margin-top: 20px;
    margin-bottom: 4px;
}

.GenomicMarkerSNVEditor__Wrapper {
    display: grid;
    grid-template-columns: 150px 450px;
    grid-row-gap: 10px;
    grid-auto-rows: minmax(30px, auto);
    align-items: flex-start;
}

.GenomicMarkerSNVEditor__Wrapper > div{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

.GenomicMarkerSNVEditor__Wrapper_Span {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}
.GenomicMarkerSNVEditor__Wrapper > div:nth-child(odd){
    padding-left: 5px;
    padding-top: 5px;
    font-weight: bold;
}

.GenomicMarkerSNVEditor__Wrapper > div:nth-child(even){
    padding-left: 5px;
    padding-top: 5px;
}

.GenomicMarkerSNVEditor__Link{
    color: blue;
    text-decoration: underline;
}
.GenomicMarkerSNVEditor__small-btn {
    display: inline-block;
    background-color: #005198;
    color: white;
    padding: 0.2rem 0.2rem;
    border: none;
    cursor: pointer;
    font-size: 0.6rem;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    outline: none;
    transition: all 0.2s ease-in;
}
.GenomicMarkerSNVEditor__small-btn:hover {
    background: #1ab6cf;
}

.GenomicMarkerSNVEditor__small-btn:active {
    border: 2px solid green;
}
.GenomicMarkerSNVEditor__Synonym_Wrapper {
    display: grid;
    grid-template-columns: 100px 100px;
    align-items: flex-start;
}

.GenomicMarkerSNVEditor__FormGroup {
    margin: 0  0;
}
.GenomicMarkerSNVEditor__Textarea {
    display: block;
    text-align: left;
    width: 95%;
    height: 200px;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    font: inherit;
}
.GenomicMarkerSNVEditor__ShortTextarea {
    display: block;
    text-align: left;
    width: 95%;
    height: 50px;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    font: inherit;
}

.GenomicMarkerSNVEditor__select {
    width: 60%;
}
