
.GenomicVariantMarkers__Title {
    padding-top: 10px;
    color: red;
    font-size: 1.5rem;

}

.GenomicVariantMarkers__Item {
    color: blue;
    font-size: 0.8rem;

}
.GenomicVariantMarkers__Select {
    padding-top: 5px;
    font-size: 0.8rem;
}