.OntologicalDisease {
    top:0px;
    height: 100vh;
    max-height: 100%;
    width: 620px;
    overflow:  auto;
    padding-left: 20px;
    padding-right: 20px;
}


.OntologicalDisease__title {
    margin-top: 20px;
    margin-bottom: 4px;
}

.OntologicalDisease__Wrapper {
    display: grid;
    grid-template-columns: 150px 450px;
    grid-row-gap: 30px;
    grid-auto-rows: minmax(30px, auto);
    align-items: flex-start;
}

.OntologicalDisease__Wrapper > div{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

.OntologicalDisease__Wrapper_Span {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}
.OntologicalDisease__Wrapper > div:nth-child(odd){
    padding-left: 5px;
    padding-top: 5px;
    font-weight: bold;
}

.OntologicalDisease__Wrapper > div:nth-child(even){
    padding-left: 5px;
    padding-top: 5px;
    /*border-top-style: solid;*/
    /*border-bottom-style: solid;*/
    /*border-left-style: solid;*/

    /*border-right-style: solid;*/
    /*border-width: thin;*/
    /*border-color: #2A508F;*/
}
.OntologicalDisease__Link{
    color: blue;
    text-decoration: underline;
}

.form-group {
    margin: 1.2rem 0;
}
.OntologicalDisease__Textarea {
    display: block;
    text-align: left;
    width: 95%;
    height: 200px;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    font: inherit;
}

.OntologicalDisease__Synonym_Wrapper {
    display: grid;
    grid-template-columns: 100px 100px;
    align-items: flex-start;
}
.OntologicalDisease__select {
    width: 60%;
}
