.XRefHistory {
    top:0px;
    height: 200px;
    width: 300px;
    overflow: hidden auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border: 1px solid black;
}

.XRefHistory::-webkit-scrollbar {
    -webkit-appearance: none;
}

.XRefHistory::-webkit-scrollbar:vertical {
    width: 11px;
}

.XRefHistory::-webkit-scrollbar:horizontal {
    height: 11px;
}

.XRefHistory::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.XRefHistory__title {
    margin-top: 20px;
    margin-bottom: 4px;
}

.XRefHistory__Wrapper {
    display: grid;
    grid-template-columns: 180px 460px;
    grid-row-gap: 10px;
    grid-auto-rows: minmax(30px, auto);
    align-items: flex-start;
}

.XRefHistory__Wrapper > div{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

.XRefHistory__Wrapper_Span {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}
.XRefHistory__Wrapper > div:nth-child(odd){
    padding-left: 5px;
    padding-top: 5px;
    font-weight: bold;
}

.XRefHistory__Wrapper > div:nth-child(even){
    padding-left: 5px;
    padding-top: 5px;
}